.secret-page {
    margin-top: 250px;
    text-align: center;
}

.secret-page h2 {
    font-size: 3rem;
}

.logout {
    background-color: red;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    padding: 15px;
    font-size: 22px;
    border: none;
    font-weight: bold;
}

.logout__wrapper {
    text-align: center;
}